body {
    background-color: rgb(245, 99, 123);
    text-align: center;
}

div {
    margin: auto;
    padding: 30px;
    text-align: center;
}

h1 {
    color: rgb(255, 146, 146);
    font-size: 50px;
    text-align: center;
}

h2 {
    color: rgb(194, 134, 250);
    text-align: center;
}

.heart {
    animation: pulse 2s linear infinite;
}
  
@keyframes pulse{
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}